#noti11{

    width: 900px;
    margin-left: 100px;
}

#noti1{
margin-left: 10px;
width: 350px;
margin-bottom: 15px;
}

#noti12{
    width: 400px;
    height: 400px;
}

#noti13{
    width: 900px;
    margin-left: 100px;}
