{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_historia.css')}}">


<div class="container">
    <h1 class="project-name">Historia</h1>

<div class="container">
    <div class="main-timeline">


        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="year"> 2000</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title"><img id="picpreg" src="https://i.postimg.cc/YSBMWyYD/Whats-App-Image-2022-07-16-at-10-19-06-PM.jpg"></h5>
                
            </div>
        </div>
        
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
        
                        <span class="year">2001</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title"><img id="picpreg" src="https://i.postimg.cc/pVc9FRT0/Whats-App-Image-2022-07-16-at-10-19-07-PM.jpg"></h5>
               
            </div>
        </div>
        
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        
                        <span class="year">2002</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title"><img id="picpreg" src="https://i.postimg.cc/2yghFDzB/Whats-App-Image-2022-07-16-at-10-19-08-PM-1.jpg"></h5>
               
            </div>
        </div>
       
        <div class="timeline">
            <div class="icon"></div>
            <div class="date-content">
                <div class="date-outer">
                    <span class="date">
                        <span class="year">2018</span>
                    </span>
                </div>
            </div>
            <div class="timeline-content">
                <h5 class="title"><img id="picpreg" src="https://i.postimg.cc/G2HjkzkV/Whats-App-Image-2022-07-17-at-11-49-52-AM.jpg"></h5>
               
            </div>
        </div>
     

    </div>
</div>

{% endblock %}